body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #22222230;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -24rem;
  margin-left: -35%;
}

.sentence-container {
  width: 100%;
}

.word-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.char-input,
.space-slot {
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  /* caret-color: transparent; */
  text-align: center;
}

#scrambled-word {
  color: #0f52ba;
  font-size: 2rem;
}

.answerButton {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.75rem;
  color: #047904fc;
  cursor: pointer;
  margin-bottom: 1rem;
}

.answerButton:hover {
  transform: scale(1.05);
  transition: 0.1s;
}

.answerButton:active {
  transform: scale(0.95);
  transition: 0.1s;
}

.main-container > h1 {
  color: #000000fc;
}